<% content_for :image, image_url(@space.featured_image.image_url(:medium))%>
<% content_for :description, seo_description((@space.description.strip_tags.truncate(120, separator: ' '))) %>
<% content_for :title, "Stara Pekara - " + @space.name %>

<% unless @space.space_images.blank? %>
  <div class="glide">
    <div data-glide-el="track" class="glide__track">
      <ul class="glide__slides">
      <% @space.space_images.each do |image| %>
        <li class="glide__slide"><%= link_to image_tag(image.image), image_url(image.image), data: {lightbox: 'space', title: @space.name} %></li>
      <% end %>
      </ul>
    </div>
  </div>
<% end %> 
<div class="layout--main flex flex--column">
 
  <div class="space flex flex--column">
    <h1 class="space-name">
      <%= @space.name %>
    </h1>
    <span class="space-description">
      <%= @space.description.html_safe %>
    </span>
  
    <div class="space-price-info flex flex--row flex--center">
      <div class="space-price-box flex flex--column flex--center">
        <span class="space-price"><%= humanized_money_with_symbol(@space.book_price) %></span>
        <p class="space-price-box__info">po satu</p>
      </div>
      <div class="space-price-box flex flex--column flex--center">
        <span class="space-price"><%= surface(@space.surface_area) %></span>
        <p class="space-price-box__info">na raspolaganju</p>
      </div>
      <% if  @space.bookable %>
    </div>
    <% end %>
    <% if  @space.rentable %>
    <div class="monthly-price">
      <div class="space-price-box flex flex--column flex--center">
        <span class="space-price"><%= humanized_money_with_symbol(@space.rent_price) %></span>
        <p class="space-price-box__info">mjesečno</p>    
      </div>
    </div>
    <% end %>
    <% if @space.available %>
      <%= link_to t('space.rent_monthly', price: humanized_money_with_symbol(@space.rent_price)), new_space_rent_request_space_path(@space), class: 'btn--primary section__button' if @space.rentable %>
      <%= link_to t('space.rent_hourly', price: humanized_money_with_symbol(@space.book_price)), booking_general_space_path(@space), class: 'btn--primary section__button' if @space.bookable %>
    <% else %>
      <%= t('space.unavailable') %>
    <% end %>
  </div>
  
</div>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
<script>
  const config = {
      type: 'carousel',
      perView: 1.75,
      focusAt: 'center',
      startAt: 1,
      gap: 48,
  }
  new Glide('.glide', config).mount()         
</script>
<script>
    lightbox.option({
      'resizeDuration': 200,
      'wrapAround': true,
      'disableScrolling': true,
      'fitImagesInViewport': true,
      'alwaysShowNavOnTouchDevices': true,
    })
</script>