<div class="layout--main">
  <div class="news flex flex--column">
    <h2 class="news-title"><%= t('pages_nav.posts') %></h2>
    <div class="post-content flex flex--row flex-align--start">
      <%= image_tag @post.image_url(:medium), class:'post-image' %> 
      <div class="post-description flex flex--column flex-align--start">
        <h3 class="post-title"><%= @post.title %></h3>

        <p class="post-summary">
          <%= @post.summary %>
        </p>

        <span class="post-timestamp"><%= post_timestamp(@post.publish_at) %></span>
      </div>
    </div>
    <%= link_to t('post.see_other_posts'), posts_path, class: 'btn--primary section__button' %>
  </div>
</div>
