<%= link_to t('pages_nav.home'), root_path(anchor: 'Naslovnica'), class: 'nav__link js-anchor' %>
<%= link_to t('pages_nav.about'), root_path(anchor: 'O projektu'), class: 'nav__link' %>
<%= link_to t('pages_nav.posts'), posts_path, class: 'nav__link'  %>
<%= link_to t('pages_nav.spaces'), root_path(anchor: 'Prostori'), class: 'nav__link'  %>
<%= link_to t('pages_nav.contact'), root_path(anchor: 'Kontakt'), class: 'nav__link'  %>
<hr class='nav-divider'>
<%= active_link_to 'Mailers', '/rails/mailers', class_active: 'is-active', class: 'nav__link nav__link--2nd__part' if Rails.env.development?%>
<%= link_to "&#129384; Admin".html_safe, admin_root_path unless current_admin.nil? || hide_admin_hud? %>
<%= active_link_to t('pages_nav.documents'), documents_path, class_active: 'is-active', active: [['documents'], []], class: 'nav__link nav__link--2nd__part' %>
<%= active_link_to t('pages_nav.faqs'), faqs_path, class_active: 'is-active', active: [['faqs'], []], class: 'nav__link nav__link--2nd__part' %>
<hr class='nav-divider'>
<p class='nav__link--3rd__part'>
  © <%= Time.now.year %>. Stara Pekara
</p>
<p class="nav__link--3rd__part">
  Sufinancirala Europska unija
</p>
<% LegalPage.listed.each do |legal_page| %>
  <%= active_link_to legal_page.name, legal_page, class_active: 'is-active', active: :exact, class: 'nav__link nav__link--3rd__part' %>
<% end %>

